.sidebar-header {
    width: 100%; /* Let grid manage width now */
    height: 100vh;
    padding-left: 4%;
    padding-top: 10.5%;
    display: block;
    overflow-y: auto;
}


.shortcut-link img{
    width: 20px;
    margin-right: 20px;
    display: grid;
}

.sidebar-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    margin-left: 25px;
    flex-wrap: wrap;
    cursor: pointer;
}

.subscribe-header{
    border: 0;
    height: 1px;
    margin-top: 10px; 
}

.subscribe-header h3{
    margin: 20px 25px;
    font-size: 16px;
    color: #5a5a5a;

}


.subscribe-list{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 20px;
}

.subscribe-list img{
    width: 15%;
    margin: 5px;
    border-radius: 50px;
}

.sidebar-header hr{
    margin-left: 25px;
    width: 80%;
}