.layout-container {
  display: grid;
  grid-template-columns: 15% 85%;
  height: calc(100vh - 60px); /* Assuming Navbar is 60px tall */
  overflow: hidden;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

/* Scroll only Home content */
.home-scroll-wrapper {
  overflow-y: auto;
  height: 100%;
  padding: 15px 15px;
  scrollbar-width: none;
}

.home-scroll-wrapper::-webkit-scrollbar {
  display: none;
}
